@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-warning">Erro.</h1>
<h2 class="text-danger">Um erro ocorreu enquanto processava sua requisição.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Mode de desenvolvimento</h3>
<p>
    Trocar para ambiente de <strong>Desenvolvimento</strong> irá disponibilizar mais informações detalhadas sobre o erro que ocorreu.
</p>
<p>
    <strong>O ambiente de desenvolvimento não deve ser ativado para aplicativos implantados.</strong>
    Isso podera disponiblizar informações confidenciais de exceções ao usuário final.
    Para locais de debug, habilite o <strong>Desenvolvimento</strong> do ambiente, definindo o <strong>ASPNETCORE_ENVIRONMENT</strong> ambiente variado para <strong>desenvolvimento</strong>
    e reiniciar o aplicativo.
</p>
